= form_for @task do |f|
  - if @task.errors.any?
    %div.alert.alert-danger{ role: 'alert' }
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  %div.form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  %div.form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  %div.form-group
    = f.label :status
    = f.select :status, Task.statuses_i18n.invert, {}, { class: 'form-control' }
  %div.form-group
    = f.label :priority
    = f.select :priority, Task.priorities_i18n.invert, {}, { class: 'form-control' }
  %div.form-group
    = f.label :deadline
    = f.datetime_local_field :deadline, class: 'form-control'

  .actions
    = f.submit t('common.save'), class: 'btn btn-primary'

