%div
  = form_tag(search_tasks_path, method: :get) do
    = label_tag :task_title, Task.human_attribute_name(:title)
    = text_field_tag 'task[title]'
    = label_tag :task_status, Task.human_attribute_name(:status)
    = select_tag 'task[status]', options_for_select(Task.statuses_i18n.invert), prompt: '-'
    = submit_tag t('common.search')
