%h1= t '.title'
= render partial: 'search_form', locals: { search_attr: @search_attr }
%br
%table{ border: 1 }
  %thead
    %tr
      %th= Task.human_attribute_name(:title)
      %th= Task.human_attribute_name(:status)
      %th= Task.human_attribute_name(:priority)
      %th= Task.human_attribute_name(:deadline)
      %th Actions
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.title
        %td= task.status_i18n
        %td= task.priority_i18n
        %td= l(task.deadline, format: :long)
        %td 
          = link_to t('common.show'), task
          = link_to t('common.edit'), edit_task_path(task)
          = link_to t('common.destroy'), task, method: :delete
%br

= link_to t('common.new') + t('activerecord.models.task'), new_task_path
