%p#notice= notice
%h1= @task.title
%div
  = label :task, :description
  %br
  = @task.description
%div
  = label :task, :status
  ：
  = @task.status_i18n
%div
  = label :task, :priority
  ：
  = @task.priority_i18n
%div
  = label :task, :deadline
  ：
  = l(@task.deadline, format: :long)

= link_to t('common.edit'), edit_task_path(@task)
|
= link_to t('common.back'), tasks_path
