- if notice
  %div.alert.alert-info{ role: 'alert' }= notice
%h1= @task.title
%div.panel.panel-default
  %div.panel-heading
    = label :task, :description
  %div.panel-body
    = @task.description
%div.panel.panel-default
  %div.panel-heading
    =label :task, t('.information')
  %table.table
    %tr
      %td= label :task, :user
      %td= @task.user&.name || t('common.notset')
    %tr
      %td= label :task, :status
      %td= @task.status_i18n
    %tr
      %td= label :task, :priority
      %td= @task.priority_i18n
    %tr
      %td= label :task, :deadline
      %td= @task.deadline ? l(@task.deadline.to_date) : t('common.notset')
    %tr
      %td= label :task, :label
      %td 
        - @task.label_list.each do |label|
          %span.label.label-info= label
    %tr
      %td= label :task, :owner
      %td= @task.owner.name

= link_to t('common.edit'), edit_task_path(@task), class: 'btn btn-warning'
= link_to t('common.back'), :back, class: 'btn btn-default'
