- if notice
  %div.alert.alert-info{ role: 'alert' }= notice
%h1= t '.title'

%div.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= User.human_attribute_name(:id)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:updated_at)
        %th= User.human_attribute_name(:created_at)
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.email
          %td= l(user.updated_at, format: :long)
          %td= l(user.created_at, format: :long)
          %td
            = link_to t('common.show'), admin_user_path(user), class: 'btn btn-primary btn-xs'
            = link_to t('common.edit'), edit_admin_user_path(user), class: 'btn btn-warning btn-xs'
            = link_to t('common.destroy'), admin_user_path(user), method: :delete, class: 'btn btn-danger btn-xs'

= link_to t('common.new') + t('activerecord.models.user'), new_admin_user_path, class: 'btn btn-success'

= paginate @users
